@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body,
input,
button {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.signInBtn {
    color: white;
    background-color: #4badfe;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}

.bigBtn:hover,
.signInBtn:hover {
    background-color: #0085fc;
}

input:hover {
    outline-color: #0085fc;
}

input:focus {
    outline-color: #0085fc;
}

.bigBtn {
    color: white;
    background-color: #4badfe;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    width: 190px;
}

#noBtn {
    color: white;
    background-color: #e00034;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    width: 190px;
    margin-left: 80px;
}

#noBtn:hover {
    background-color: #b8002b;
}


.checkbox {
    height: 15px;
    width: 15px;
    margin-right: 8px;
}

.navBarItem {
    display: inline;
    padding-left: 50px;
    color: white;
}

#logoutBtn {
    display: inline;
    color: white;
    float: right;
    padding-right: 30px;
}

a:visited {
    color: #89bae7;
}

a {
    text-decoration: none;
}

a:hover,
a.active {
    color: white;
}

.container {
    width: 80%;
    margin: 100px auto;
}

#homepageDiv {
    width: 80%;
    margin: 100px auto;
    height: 450px;
}

#hostedPotlukkStyles {
    border: 2px solid #4badfe;
    height: 400px;
    width: 280px;
    display: inline-block;
    margin: 0px 100px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 35%;
}


#hostedPotlukkStyles a:hover {
    font-weight: bold !important;
    color: #0085fc !important;
}

#invitedPotlukkStyles a:hover {
    font-weight: bold !important;
    color: #0085fc !important;
}


#notificationStyles {
    border: 2px solid #4badfe;
    height: 400px;
    width: 280px;
    display: inline-block;
    margin: 0px 100px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 55%;
}


#invitedPotlukkStyles {
    border: 2px solid #4badfe;
    height: 400px;
    width: 280px;
    display: inline-block;
    margin: 0px 100px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 15%;
}

.hostComponent {
    display: inline-block;
    width: 400px;
    margin: auto 30px;
    vertical-align: top;
}

/* inviting users and editing dish */
.inviteBtn {
    color: white;
    background-color: #4badfe;
    border: none;
    height: 25px;
    width: 80px;
    border-radius: 15px;
    font-size: 15px;
}

.inviteBtn:hover {
    background-color: #0085fc;
}

/* removing invites and dishes */
.removeBtn {
    color: white;
    background-color: #e00034;
    border: none;
    height: 25px;
    width: 80px;
    border-radius: 15px;
    font-size: 15px;
}

.removeBtn:hover {
    background-color: #b8002b;
}

/* confirmation prompt for creating potlukk  */
.modalContainer {
    width: 478px;
    height: 200px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    padding: 25px;
    position: absolute;
    top: 30%;
    left: 35%;
}

.modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

li {
    margin: 10px 0px;
    list-style: none;
}

.pageContainer {
    width: 1200px;
    margin: auto 500px;
}

.potlukkInput {
    height: 20px;
    width: 200px;
}

/* used for editing potlukk event, dishes, inviting attendees, accepting invite */
.updatePotlukkBtn {
    background-color: #4badfe;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-right: 3px;
    font-size: 16px;
}

.updatePotlukkBtn:hover {
    background-color: #0085fc;
}

#cancelPotlukkBtn {
    background-color:#e00034;
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    font-size: 16px;
}

#cancelPotlukkBtn:hover {
    background-color:#b8002b;
}

#refreshBtn {
    background-color: #4badfe;
    color: white;
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    font-size: 18px;
}

#refreshBtn:hover {
    background-color: #0085fc;
}

#dishModalStyles {
    width: 478px;
    height: 380px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    padding: 25px;
    position: absolute;
    top: 20%;
    left: 35%;
}

#exitBtn {
    background-color: #e00034;
    color: white;
    border: none;
    border-radius: 4px;
    float: right;
    height: 20px;
    width: 20px;
    font-weight: bold;
}

#exitDishBtn:hover {
    background-color: #b8002b;
}


#dishListDivStyles {
    height: 300px;
    width: 400px;
    padding: 10px 0px;
    border: 1px solid #0085fc;
    margin: 20px 0px;
    border-radius: 20px;
}

#declineInviteBtn {
    background-color:#e00034;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-size: 16px;
}

#declineInviteBtn:hover {
    background-color: #b8002b;
}